
.container {
  container-type: inline-size;
  container-name: article;
  width: 100%;
}

.article {
  background: white;
  color: black;
}

@container article (min-width: 50cqw) {
  .article{
    display: flex; 
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    max-height: 500px;

  }
}