@tailwind base;
@tailwind components;
@tailwind utilities;

// Todo: can this be done in tailwind
details > summary {
  list-style: none;
}
details > summary::-webkit-details-marker {
  display: none;
}

.text-outline {
  -webkit-text-stroke: 2px #192536;
  text-stroke: 2px #192536;
}

@keyframes fadeIn {
  0% { 
    opacity: 0; 
    transform: translateY(10%);
  }
  100% { 
    opacity: 1; 
    transform: translateY(0);
  }
}

.animateIn {
  opacity: 0;

  &.visible {
    animation: fadeIn 700ms forwards;
    animation-delay: var(--delay, 500);

    .fadeInChild {
      opacity: 0;
      animation: fadeIn 700ms forwards;
      animation-delay: var(--delay, 500);
    }
  }

  @media (prefers-reduced-motion) {
    &.visible, &.visible .fadeInChild {
      opacity: 1;
      animation: none !important;
    }
  }
}

.animateInParent {
  * {
    opacity: 0;

    @media (prefers-reduced-motion) { 
      animation: none !important;
      opacity: 1;
    }
  }

  &.visible * {
    animation: fadeIn 700ms forwards;
    animation-delay: var(--delay, 500);
  }
}

.no-js {
  .animateInParent * {
    animation: none !important;
    opacity: 1;
  }

  .animateIn {
    opacity: 1;
    animation: none !important;
  }
}